@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*   HEADER   */
#header {
  width: 100%;
  height: 30px;
  background-color: #1f98f0;
  display: flex;
  position: fixed;
  z-index: 101;
}

#header .miniheader {
  width: 100%;
  display: flex;
  justify-content: center;
}

#header .miniheader h5 {
  margin-left: 10px;
  margin-right: 10px;
}

#header .miniheader .logocelularheader {
  height: 27px;
}

#header div {
  display: none;
}

header div {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.logo-header img {
  width: 50px;
}

.nav-menu ul {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-right: 1rem;
}

.nav-menu a {
  color: #fff;
}

.nav-menu li:last-child {
  background: #4ad295;
  padding: 0.25rem 0.75rem;
  border-radius: 0.2rem;
}

.menu-icon img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.menu-icon, #check {
  display: none;
}

/* BARRA DE NAVEGACION */
#navbar {
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  background-color: #0084e4;
  margin-top: 30px;
  z-index: 100;
}

#navbar img {
  width: 120px;
  object-fit: contain;
  margin-left: 50px;
}

#navbar .linksprincipales {
  width: 1400px;
  height: 90px;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

#navbar ul li {
  list-style: none;
  display: inline;
  justify-content: center;
  text-align: center;
}

#navbar ul li a {
  text-decoration: none;
  justify-content: center;
  text-align: center;
  font-size: 29px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  margin-left: 100px;
}

#navbar a:hover {
  color: rgb(178, 178, 178);
}

/*    CONTENIDO DE LA PAGINA    */
/* BANNER */
#banner {
  position: relative;
}

main #banner img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 80px;
}

.contenidobanner .titulobanner {
  text-align: center;
}

main #banner .titulobanner h1 {
  font-size: 70px;
  position: absolute;
  width: 550px;
  margin-top: 180px;
  margin-left: 300px;
}

.botonbanner {
  position: absolute;
  margin-top: 540px;
  margin-left: 458px;
  width: 250px;
  height: 60px;
  background-color: #1F98F0;
  text-align: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  color: white;
}

.botonbanner a {
  color: white;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 5px;
  font-weight: 500;
}

.botonbanner a:hover {
  color: rgb(178, 178, 178);
}

main {
  min-height: 100vh;
  padding-top: 50px;
}

/*   CONTENIDO POST-BANNER   */
#post-banner {
  display: flex;
  flex-direction: column;
  margin-top: 1000px;
  text-align: center;
  justify-content: center;
  text-align: center;
}

.titutlopostbanner {
  font-size: 56px;
  text-align: center;
  color: #0084e4;
  margin-bottom: 80px;
  font-weight: 600;
  margin-top: 150px;
}

.fotovieja {
  object-fit: contain;
  width: 1500px;
  height: 500px;
  text-align: center;
}

.textopostimg {
  background-color: rgb(243, 243, 243);
  margin-top: 60px;
  width: 1200px;
  height: 400px;
  font-size: 40px;
  font-weight: 500;
  margin-left: 160px;
  border-radius: 50px;
  padding: 25px;
  margin-bottom: 90px;
}

/*    PIE DE PAGINA (FOOTER)    */
#footer {
  display: flex;
  background-color: #0084e4;
  justify-content: center;
  width: 100%;
}

#footer .footerHorarios {
  display: flex;
}

.footerHorarios div {
  justify-content: center;
  text-align: center;
  width: 300px;
  margin-top: 10px;
  margin-left: 60px;
}

.footerHorarios .footerhorarios11 img {
  width: 50px;
}

.footerHorarios .footerhorarios11 h5 {
  font-size: 18px;
  color: black;
}

.footerHorarios .footerhorarios11 h6 {
  width: 170px;
  font-size: 18px;
  color: black;
  margin-left: 63px;
}

.footerHorarios .footerubicacion11 {
  margin-top: 20px;
}

.footerHorarios .footerubicacion11 img {
  width: 48px;
}

.footerHorarios .footerubicacion11 h5 {
  font-size: 18px;
  color: black;
}

.footerHorarios .footerubicacion11 h6 {
  width: 170px;
  font-size: 18px;
  color: black;
  margin-left: 63px;
}

.footerHorarios .footercontacto11 {
  margin-top: 24px;
}

.footerHorarios .footercontacto11 img {
  width: 43px;
}

.footerHorarios .footercontacto11 h5 {
  margin-top: 3px;
  font-size: 18px;
  color: black;
}

.footerHorarios .footercontacto11 h6 {
  width: 170px;
  font-size: 18px;
  color: black;
  margin-left: 63px;
}

.footerHorarios .footerRedes img {
  color: black;
  object-fit: contain;
  width: 70px;
  justify-content: center;
  margin-top: 32px;
}

/*    RESPONSIVE INDEX   */
@media (max-width: 1280px) {
  .miniheader {
    margin-right: 90px;
  }
  #navbar .linksprincipales {
    margin-left: -140px;
    width: 1150px;
    justify-content: center;
  }
  #navbar .linksprincipales a {
    font-size: 26px;
    margin-left: 30px;
  }
  #navbar img {
    width: 120px;
  }
  #banner .imagen-banner {
    width: 1290px;
  }
  .contenidobanner {
    margin-left: -100px;
  }
  #post-banner {
    margin-top: 830px;
    margin-left: 60px;
  }
  #post-banner h3 {
    text-align: center;
    justify-content: center;
    width: 1000px;
    margin-left: 75px;
  }
  #post-banner img {
    width: 900px;
    margin-left: 140px;
  }
  #post-banner .textopostimg {
    width: 1000px;
    margin-left: 80px;
    font-size: 35px;
  }
  #footer {
    width: 1300px;
  }
  #footer div {
    width: 210px;
    margin-right: 50px;
    margin-top: 20px;
  }
  #footer .footerhorarios11 h6 {
    margin-left: 0px;
  }
  #footer .footerubicacion11 h6 {
    margin-left: 20px;
  }
  #footer .footercontacto11 h6 {
    margin-left: 0px;
  }
  #footer .footerRedes {
    margin-left: 0;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .nav-menu ul {
    display: block;
    position: fixed;
    top: 70px;
    left: -100%;
    background: #222;
    width: 100%;
    height: 100vh;
    right: 0;
  }
  .nav-menu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .nav-menu ul li:last-child {
    background: none;
    padding: 1rem;
  }
  #check:checked ~ ul {
    left: 0;
    transition: all 0.25s;
  }
}
/*   SERVICIOS   */
.titulobannerservicios h1 {
  text-align: center;
  justify-content: center;
  font-size: 55px;
}

.titulobannerservicios {
  width: 600px;
  z-index: 10;
  margin-top: 130px;
  position: absolute;
}

#post-bannerservicios {
  margin-top: 1120px;
}

#post-banner .listaservicios {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}

#post-bannerservicios .nuestros_servicios h4 {
  height: 20px;
  background-color: white;
  width: 1200px;
  display: flex;
  justify-content: center;
  font-size: 60px;
}

#post-bannerservicios .nuestros_servicios ul li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  text-align: center;
  font-size: 35px;
}

#post-bannerservicios .nuestros_servicios ul {
  margin-left: 400px;
  width: 700px;
  height: 550px;
}

/*   RESPONSIVE  SERVICIOS  */
@media (max-width: 1280px) {
  .titulobannerservicios h1 {
    margin-left: 100px;
  }
  #post-bannerservicios img {
    width: 700px;
    margin-left: 300px;
  }
  #post-bannerservicios h3 {
    text-align: center;
    justify-content: center;
    width: 1000px;
    margin-left: 135px;
  }
  #post-bannerservicios .nuestros_servicios h4 {
    width: 600px;
    margin-left: 350px;
  }
  #post-bannerservicios .nuestros_servicios ul li {
    font-size: 30px;
  }
  #post-bannerservicios .nuestros_servicios ul {
    width: 600px;
    margin-left: 335px;
  }
}
/*    NOSOTROS    */
.titulobannernosotros {
  position: absolute;
}

.titulobannernosotros h1 {
  font-size: 80px;
  margin-top: 170px;
  margin-left: 600px;
}

.visionmisionvalores {
  display: flex;
  justify-content: center;
  height: 540px;
  margin-top: 160px;
  background-color: #0084e4;
  margin-bottom: 90px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 55px;
}

.visionmisionvalores .divmision {
  height: 400px;
  width: 250px;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.visionmisionvalores .divvalores {
  height: 400px;
  width: 250px;
  justify-content: right;
  margin-top: 70px;
}

.visionmisionvalores .divvision {
  height: 400px;
  width: 250px;
  margin-top: 70px;
}

.visionmisionvalores div {
  margin-left: 120px;
  margin-right: 120px;
  background-color: white;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.visionmisionvalores div h5 {
  font-size: 45px;
}

.visionmisionvalores div h6 {
  font-size: 23px;
  margin: 15px;
}

.textopostimgnosotros {
  font-family: "Catamaran", sans-serif;
  font-size: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

/*    UBICACION    */
.sectionubicacion {
  display: flex;
}

.sectionubicacion .maps {
  width: 550px;
  height: 550px;
  justify-content: center;
  margin-left: 70px;
  margin-top: 100px;
}

.sectionubicacion .maps iframe {
  width: 600px;
  height: 450px;
  border-radius: 10px;
}

.sectionubicacion .derechamaps {
  width: 550px;
  justify-content: center;
  margin-left: 150px;
  margin-top: 100px;
  text-align: center;
}

.sectionubicacion .derechamaps h4 {
  font-size: 35px;
  font-weight: 1000;
  margin-top: 5px;
  margin-bottom: 50px;
}

.subtitulocambiar {
  font-size: 50px;
  font-weight: 1000;
  margin-top: 90px;
}

main {
  min-height: 100vh;
}

/*    CONTACTANOS    */
.formulariocontacto {
  display: flex;
  flex-direction: column;
}

.contactotelefonogmail, .formulario {
  width: 50%;
  height: 100vh;
  box-sizing: border-box;
  margin-top: 200px;
}

.contactotelefonogmail {
  float: left;
}

.formulario {
  float: right;
}

#inputtext {
  width: 550px;
  height: 25px;
  background-color: rgb(196, 196, 196);
  border: none;
  border-radius: 5px;
}

#inputcorreo {
  width: 550px;
  height: 25px;
  background-color: rgb(196, 196, 196);
  border: none;
  border-radius: 5px;
}

#inputmensaje {
  width: 550px;
  background-color: rgb(196, 196, 196);
  border: none;
  border-radius: 5px;
}

#inputtelefono {
  width: 550px;
  height: 25px;
  background-color: rgb(196, 196, 196);
  border: none;
  border-radius: 5px;
}

.formulariocontacto {
  font-family: "Sora", sans-serif;
  gap: 10px;
  font-size: 17px;
}

.formbotonformulario {
  padding: 10px;
  margin-left: 100px;
  width: 500px;
}

.botonformulario {
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Sora", sans-serif;
  border: none;
  border-radius: 15px;
  background-color: #0084e4;
  color: white;
  width: 150px;
  margin-left: 200px;
  cursor: pointer;
}

.botonformulario:hover {
  color: rgb(184, 184, 184);
}

.tamañocontacto {
  font-size: 18px;
}

.tamañogmail {
  font-size: 12px;
}

.tamañohorario {
  font-size: 15px;
}

#post-bannercontactanos {
  margin-top: 1000px;
  display: flex;
}

#post-bannercontactanos div {
  width: 500px;
  margin-left: 70px;
  justify-content: center;
  text-align: center;
}

#post-bannercontactanos .contactotelefonogmail h5 {
  text-align: center;
  font-size: 23px;
}

#post-bannercontactanos .contactotelefonogmail h3 {
  color: red;
}

#post-bannercontactanos .contactotelefonogmail img {
  width: 50px;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}

.titulobannercontactanos {
  font-size: 110px;
}

/*# sourceMappingURL=style.css.map */
